@{
	Layout = "_Layout";
}
<!-- -- About Page Start -- -->
<section class="about" id="about">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<div class="wrap">
					<a href="" class="icon"><i class="fa-regular fa-envelope"></i></a>
					<h3>Get Quote</h3>
					<p>Fine the price of your ideal course</p>
				</div>
			</div>
			<div class="col-4">
				<div class="wrap">
					<a href="" class="icon"><i class="fa-solid fa-headphones"></i></a>
					<h3>Ask A Question</h3>
					<p>Not sure what you need? Ask a Advisor</p>
				</div>
			</div>
			<div class="col-4">
				<div class="wrap">
					<a href="" class="icon"><i class="fa-regular fa-circle-user"></i></a>
					<h3>Join Today</h3>
					<p>Signup Now for a Free 30 Day Trial</p>
				</div>
			</div>
		</div>
	</div>
</section>