<section class="conteact" id="contact">
	<h2 class="title">Contact <span>With</span> US</h2>
	<div class="wrap" style="margin-bottom: 20px;">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14697.42780352853!2d90.83236210280873!3d22.937077667737444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3754c115ae74abdb%3A0x741b1021ac347066!2sLakshmipur%20Polytechnic%20Institute!5e0!3m2!1sen!2sbd!4v1734191761196!5m2!1sen!2sbd" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-8">
				<form>
					<div class="input-group">
						<input type="text" placeholder="Jon..">
						<input type="number" placeholder="01875..">
					</div>
					<div class="input-group">
						<input type="email" placeholder="example@gmail.com">
						<input type="text" placeholder="Text for ..">
					</div>
					<textarea placeholder="Meaasge.."></textarea>
					<input type="submit" value="Send Message">
				</form>
			</div>
			<div class="col-4">
				<div class="before">
					<h5>Before Contacting Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipisici elit, sed eiusmod tempor incidunt ut labore et dolore magna aliqua. Non equidem invideo, miror magis posuere velit aliquet. Lorem ipsum dolor sit amet consectetur, adipisicing, elit. Reprehenderit aspernatur minus labore minima esse dolorum excepturi repudiandae quidem eum ullam?</p>
				</div>
				<div class="info">
					<h5>Contact Information</h5>
					<p>
						<i class="fa-regular fa-paper-plane"></i>
						<small class="address">Baismara, Lakshmipur-3700</small>
					</p>
					<p>
						<i class="fa-solid fa-mobile-screen-button"></i>
						<small>+88018 1751 6654</small>
					</p>
					<p>
						<i class="fa-regular fa-envelope"></i>
						<small>emonhossainhira231@gmail.com</small>
					</p>
				</div>
			</div>
		</div>
	</div>
</section>
