@model TeacherCreateDTO

<form class="container" method="POST" enctype="multipart/form-data">
    <h2 class="my-4">Create Teacher</h2>

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" placeholder="teacher's name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Surname"></label>
        <input class="form-control" asp-for="Surname" placeholder="teacher's surname" />
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Subject"></label>
        <input class="form-control" asp-for="Subject" placeholder="subject taught" />
        <span class="text-danger" asp-validation-for="Subject"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Salary"></label>
        <input class="form-control" asp-for="Salary" placeholder="teacher's salary" type="number" />
        <span class="text-danger" asp-validation-for="Salary"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Image"></label>
        <input type="file" class="form-control" asp-for="Image" />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="ExperienceYears"></label>
        <input class="form-control" asp-for="ExperienceYears" placeholder="experience" type="number" />
        <span class="text-danger" asp-validation-for="ExperienceYears"></span>
    </div>

    <!-- Kurs seçimə əlavə et -->
    <div class="mb-3">
        <label class="form-label" for="CourseId">Select Course</label>
        <select class="form-control" asp-for="CourseId" asp-items="@(ViewData["Courses"] as SelectList)">
            <option value="">Select Course</option>
        </select>
        <span class="text-danger" asp-validation-for="CourseId"></span>
    </div>

    <p class="text-danger text-center">@Html.ValidationMessage("CustomError")</p>

    <button type="submit" class="btn btn-primary">Save Teacher</button>
</form>
