@model StudentUpdateDTO

<form class="container" method="POST" enctype="multipart/form-data">
    <h2 class="my-4">Tələbə Məlumatlarını Yenilə</h2>

    <div class="mb-3">
        <label class="form-label" asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span class="text-danger" asp-validation-for="Name"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Surname"></label>
        <input class="form-control" asp-for="Surname" />
        <span class="text-danger" asp-validation-for="Surname"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="EnrollmentDate"></label>
        <input class="form-control" asp-for="EnrollmentDate" type="date" />
        <span class="text-danger" asp-validation-for="EnrollmentDate"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Grade"></label>
        <input class="form-control" asp-for="Grade" />
        <span class="text-danger" asp-validation-for="Grade"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Gender"></label>
        <select class="form-control" asp-for="Gender">
            <option value="">Cins Seçin</option>
            <option value="Male">Kişi</option>
            <option value="Female">Qadın</option>
        </select>
        <span class="text-danger" asp-validation-for="Gender"></span>
    </div>

    <div class="mb-3">
        <label class="form-label" asp-for="Image"></label>
        <input class="form-control" asp-for="Image" type="file" />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>

    <p class="text-danger text-center">@Html.ValidationMessage("CustomError")</p>

    <button type="submit" class="btn btn-primary">Dəyişiklikləri Saxla</button>
</form>
