<!-- Course Create View -->
@model CourseCreateDTO

<form class="container" method="POST" enctype="multipart/form-data">
    <h2 class="my-4">Kurs Yarat</h2>

    <!-- Kurs Adı -->
    <div class="mb-3">
        <label class="form-label" asp-for="CourseName"></label>
        <input class="form-control" asp-for="CourseName" />
        <span class="text-danger" asp-validation-for="CourseName"></span>
    </div>

    <!-- Təsvir -->
    <div class="mb-3">
        <label class="form-label" asp-for="Description"></label>
        <input class="form-control" asp-for="Description" />
        <span class="text-danger" asp-validation-for="Description"></span>
    </div>

    <!-- Müddət -->
    <div class="mb-3">
        <label class="form-label" asp-for="Duration"></label>
        <input class="form-control" asp-for="Duration" type="number" min="1" />
        <span class="text-danger" asp-validation-for="Duration"></span>
    </div>

    <!-- Qiymət -->
    <div class="mb-3">
        <label class="form-label" asp-for="Price"></label>
        <input class="form-control" asp-for="Price" type="number" step="0.01" min="0" />
        <span class="text-danger" asp-validation-for="Price"></span>
    </div>

    <!-- Müəllim -->
    <div class="mb-3">
        <label class="form-label" asp-for="TeacherId"></label>
        <select class="form-control" asp-for="TeacherId">
            <option value="">Müəllim Seçin</option>
            @foreach (var teacher in ViewData["Teachers"] as List<TeacherListItemDTO>)
            {
                <option value="@teacher.Id">@teacher.Name @teacher.Surname</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="TeacherId"></span>
    </div>

    <!-- Şəkil -->
    <div class="mb-3">
        <label class="form-label" asp-for="Image"></label>
        <input class="form-control" asp-for="Image" type="file" />
        <span class="text-danger" asp-validation-for="Image"></span>
    </div>

    <!-- Xüsusi səhv mesajı -->
    <p class="text-danger text-center">@Html.ValidationMessage("CustomError")</p>

    <!-- Göndərmə düyməsi -->
    <button type="submit" class="btn btn-primary">Dəyişiklikləri Saxla</button>
</form>
